*{
    margin: 0;
    padding: 0;
}
html, body{
    background: #eeeeee;
}
.headerBox{
    height: 50px;
    background: #1890ff;
    color: white;
}

.headerCenter{
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem{
    margin-left: 50px;
    cursor: pointer;
}

.navItem:hover{
    text-decoration: underline;
}

.headerRight{
    display: flex;
    align-items: center;
}

.out{
    margin-left: 15px;
    cursor: pointer;
}
.bottomBox{
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    background: #1890ff;
}